{% extends "base.html" %}

{% block content %}
<div class="authors-grid">
    {% for item in authors %}
    <div class="author-card">
        <a href="{{ url_for('authors_wiki', author_id=item['id']) }}">
            <img src='{{item["photo"]}}' alt="{{item['name']}}">
        </a>
        <h2>
            <a href="{{ url_for('authors_wiki', author_id=item['id']) }}">{{item["name"]}}</a>
        </h2>
        <a href="{{ url_for('authors_wiki', author_id=item['id']) }}" class="btn-author">
            Биография →
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}