{% extends "base.html" %}

{% block content %}
<div class="book-detail">
    <div class="book-detail-wrapper">
        <div class="book-detail-image">
            <img src='/{{book["icon_book"]}}' alt="{{book['book']}}">
        </div>
        <div class="book-detail-info">
            <h1>{{book["book"]}}</h1>
            <div class="book-description">
                {{book["description"]}}
            </div>
            <div class="book-download">
                <a id='download' class="btn-download" href="{{ url_for('return_files', filename=value) }}.pdf" target="_blank">
                    📖 Скачать ознакомительный фрагмент →
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}